<button onclick="incrementCount()">click me</button>
<p>
    count: <span id="count">{{webCount}}</span>
</p>

<script>
    function incrementCount() {
        // makes request to increment count and update html
        fetch('/backend')
            .then(response => response.json())
            .then(data => {
                const count = data.count;
                // setting span element text to the new count
                document.getElementById("count").innerText = count;
            });
    }
    incrementCount()
</script>